{% extends "layout.html" %}

{% block body %}

    
<style>
.boxed {
  border: 1px solid green ;
  float:left;
  padding:5px;
}
</style>
    
    <p><a href="{{url_for('products_index')}}">show all</a></p>
    <p>Filter by:
   {% for category in categories %}
    
        <a href="{{url_for('products_index', category=category[0])}}">{{category[0]}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            
       
    {% endfor %}
    </p>
    <h1>List of products:</h1>

    {% for product in products %}
    
        <div class="boxed">
            
            <a href="{{url_for('show_product', id=product.id)}}"><img src="{{product.image}}" alt="For more details" width="280" height="200"><br><br>{{product.name}}</a>
            <div style='float:right'><strong><strike>${{product.price}}</strike>&nbsp;&nbsp;&nbsp;&nbsp;<i>now:  </i><ins>${{product.promotional_price()}}</ins></strong></div><br><br>
			<div style="text-align:center">
				<form action="{{url_for('add_to_cart', id=product.id, quantity=1, return_to_home=True)}}" method="post">
					<input type="hidden" value="1" name="quantity">
					<input type="submit" value="Add to Cart">
				</form>
			</div>
		</div>
        
    {% endfor %}

{% endblock %}
