{% extends "layout.html" %}

{% block body %}
    <style>
        .product {
            display: inline-block;
            width: 33%;
            text-align: center;
            margin: 20px 0;
        }
        .product .img {
            max-width: 300px;
            margin-bottom: 6px;
        }
        .product a {
            text-decoration: none;
        }
        .product .attributes {
            line-height: 1.5em;
        }
        .product button {
            margin-top: 4px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if result %}
                    <h1>Top Selling Products</h1>
                    {% for product in result %}
                        {% if product.active %}
                        <div class="product">
                            <a href="{{url_for('show_product', id=product.id)}}">
                                <img class="img" src="{{product.image}}"><br>
                                {{product.name}}
                            </a>
                            <div class="attributes">
                                <strong>
                                    <strike>${{'{:2,.2f}'.format(product.price)}}</strike><br>
                                    <em>now:</em>
                                    ${{product.promotional_price()}}
                                </strong>
                            </div>
                            <form action="{{url_for('add_to_cart', id=product.id, quantity=1, return_to_home=True)}}" method="post">
                                <input type="hidden" value="1" name="quantity">
                                <button type="submit" class="btn btn-primary">Add To Cart</button>
                            </form>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h3>Filter By</h3>
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="{{url_for('products_index')}}" role="button">All</a>
                    {% for category in categories %}
                        <a class="btn btn-default" href="{{url_for('products_index', category=category[0])}}" role="button">{{category[0]}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for product in products %}
                    {% if product.active %}
                    <div class="product">
                        <a href="{{url_for('show_product', id=product.id)}}">
                            <img class="img" src="{{product.image}}"><br>
                            {{product.name}}
                        </a>
                        <div class="attributes">
                            <strong>
                                <strike>${{'{:2,.2f}'.format(product.price)}}</strike><br>
                                <em>now:</em>
                                ${{product.promotional_price()}}
                            </strong>
                        </div>
                        <form action="{{url_for('add_to_cart', id=product.id, quantity=1, return_to_home=True)}}" method="post">
                            <input type="hidden" value="1" name="quantity">
                            <button type="submit" class="btn btn-primary">Add To Cart</button>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
