{% extends "layout.html" %}

{% block body %}

    <h1>List of products:</h1>

    <table>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Discounted Price</td>
            <td>Category</td>
            <td>Inventory</td>
            <td>Promotion</td>
            <td> Image </td>
        </tr>
        {% for product in products %}
        <tr>
            <td><a href="{{url_for('show_product', id=product.id)}}">{{product.name}}</a></td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.promotional_price()}}</td>
            <td>{{product.category}}</td>
            <td>{{product.inventory}}</td>
            <td>{{product.promotion}}</td>
            <td><img src="{{product.image}}" alt="{{product.name}}" width="280" height="200"></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
