{% extends "layout.html" %}

{% block body %}
	<style>
		.product-img img {
			width: 300px;
		}
	</style>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>{{product.name}}</h1>
				<div class="product-img">
		            <img src="{{product.image}}">
		        </div>
			</div>
			<div class="col-md-8">
				<h1>Description</h1>
				{{product.description}}

				<h2>Price</h2>
				<em>Was:</em>
				<strike>${{product.price}}</strike>
				<br>
				<em>Now:</em>
				${{product.promotional_price()}}

				<h2>Buy Now!</h2>
				<form action="{{url_for('add_to_cart', id=product.id, quantity=1, return_to_home=True)}}" method="post">
		            <strong>Quantity:</strong>
					<input type="number" min="1" max="{{product.inventory}}" value="1" name="quantity">
		            <br>
					Left in stock: {{product.inventory}}
		            <br><br>
					<input type="submit" value="Add to Cart">
		        </form>
			</div>
		</div>
	</div>
{% endblock %}
