{% extends "layout.html" %}

{% block body %}

<style>
.boxed {
  border: 1px solid green ;
  float:left;
  padding:5px;
}
</style>

    <br><br><font size="133"><strong>{{product.name}}</strong></font><br><br>
    <div>
        <div style="float:left" class="boxed">
            <img src="{{product.image}}" width="500" height="400">
        </div>     
        <div style="float:right" class="boxed">
            <h1>Description: </h2><br>{{product.description}}<br><br>
        <br><br><h2>Price:</h2><strong><strike>${{product.price}}</strike>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>now:  </i><ins>${{product.promotional_price()}}</ins></strong><br><br><br>
        <div style="text-align:center"><a href="{{url_for('add_to_cart', id=product.id, quantity=1, return_to_home=True)}}"><input type="submit" value="Add to Cart"></a></div>
        </div>
    </div>
{% endblock %}
