{% extends "layout.html" %}

{% block body %}

    <h1>{{product.name}} <br> <img src="{{product.image}}" alt="{{product.name}}" width="280" height="200"></h1>
    Description: {{product.description}}
    Left in stock: {{product.inventory}} pieces
    Category: {{product.category}}
    Price: <strike>${{product.price}}</strike>
    Promotional Price: ${{product.promotional_price()}}

    <form action="{{url_for('add_to_cart', id=product.id)}}" method="post">
        Quantity: <input type="number" min="1" max="999" value="1" name="quantity">
        <!-- "number" ensures a floating point number is typed -->
        <input type="submit" value="Add to Cart">
    </form>

{% endblock %}
