{% extends "layout.html" %}
{% block body %}

    <h2>My Cart</h2>

    <ul>
    {% for product in products %}
        <li>
            {{product["product"].name}}: {{product.quantity}}
            <form action="{{url_for('cart_edit')}}" method='post'>
                <input type="hidden" name="product_id" value="{{product["product"].id}}">
                Quantity: <input type="number" min="1" max="999" value="{{product.quantity}}" name="quantity">
                <input type="submit" value="Update">
            </form>
            <a href="{{url_for('cart_delete', id=product["product"].id)}}">Delete</a>
        </li>
    {% endfor %}
    </ul>

    Total: {{total}}

    <a href="{{url_for('checkout_page')}}">Checkout</a>

{% endblock %}
