{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My Cart</h1>
            </div>
        </div>
        {% for product in products %}
            <div class="row">
                <div class="col-md-3">
                    {{product["product"].name}}
                </div>
                <div class="col-md-3">
                    Quantity: {{product.quantity}}
                </div>
                <div class="col-md-3">
                    <form action="{{url_for('cart_edit')}}" method='post'>
                        <input type="hidden" name="product_id" value="{{product['product'].id}}">
                        <input type="number" min="1" max="{{product.inventory}}" value="{{product.quantity}}" name="quantity">
                        <input type="submit" value="Update">
                    </form>
                </div>
                <div class="col-md-3">
                    <a href="{{url_for('cart_delete', id=product["product"].id)}}">Delete</a>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                Total: {{total}}<br>
                <a href="{{url_for('checkout_page')}}"><button>Checkout</button></a>
            </div>
        </div>
    </div>

{% endblock %}
