{% extends "layout.html" %}

{% block body %}
	<p>Checkout</p>
	<p>Shipping Info </p>
	<form action="{{url_for('place_order')}}" method="post">
	    Name: <input type="text" name="name" /><br>
	    Address: <input type="text" name="address" /><br>
	    City: <input type="text" name="city" /><br>
	    State: <input type="text" name="state" /><br>
	    Zip Code: <input type="text" name="zip_code" /><br>
	    Phone: <input type="text" name="phone" maxlength=11 /><br>

	<p>Billing Info </p>
	    Card Number: <input type="text" name="card_number" size = 10 maxlength=16 /><br>
	    Expiration: <input type="text" name="exp_month" size=1 maxlength=2 />
		<input type="text" name="exp_year" size=1 maxlength=2 /><br>
	    CVV: <input type="text" name="cvv" size = 1 maxlength=3 /><br>
		<input type="submit" value="Submit" />

	</form>

	<ul>
    {% for product in products %}
        <li>
            {{product["product"].name}}: {{product.quantity}}
        </li>
    {% endfor %}
    </ul>

	Total: {{total}}

{% endblock %}
