{% extends "layout.html" %}

{% block body %}
    <style>
        .user_mgmt {
            width: 500px;
        }
        .flash {
            width: 500px;
            margin: 0 auto;
        }
    </style>

 <div class="container user_mgmt">
		<div class="col">
			<div class="row-md-12">
				<h1>Users</h1>
                {% for user in users %}
                    <li>
                        {{user.email}} &bull;
                        <a href="{{url_for('show', id=user.id)}}">Show Profile</a> &bull;
                    </li>
                {% endfor %}
                
                
			</div>
		</div>
	</div>
{% endblock %}
