{% extends "layout.html" %}

{% block body %}
	<div class="container login">
		<div class="row">
			<div class="col-md-12">
				<h1>New Complaint</h1>

				<form action="{{url_for('create_complaint')}}" method="post">
					{% if clients %}
						<label>Choose a client</label>
			            <select class="form-control" name="client">
			                {% for client in clients %}
			                    <option value="{{client.id}}">{{client.name()}}</option>
			                {% endfor %}
			            </select>
			            <br>
			        {% endif %}

					<div class="form-group">
						<label>Details</label>
						<textarea type="text" name="details" class="form-control" placeholder="Please enter the details of your complaint."></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
